
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <!--FOODS TABLE-->
    <div class="container">
        <table id="createMealTable" class="table table-striped table-condensed">
            <thead style="font-weight:bolder" align="center">
                <tr>
                    <td>Amount</td>
                    <td>Name</td>
                    <td>Units</td>
                    <td>Calories</td>
                    <td>Proteins</td>
                    <td>Carbs</td>
                    <td>Fats</td>
                </tr>
            </thead>
            <tbody align="center"></tbody>
        </table>
    </div>

    <div>
        <button id="add" class="btn btn-primary" style="font-size:larger">add</button>
        <button id="clear" class="btn" style="margin-left:80px">clear all</button>
    </div>

    <!--  Modal Meal Info -->
    <div class="modal fade" id="mealInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-notify modal-info" role="document">
            <!--Content-->
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <div>
                        Meal Name: <input placeholder="enter name here" type="text" style="text-align:center;margin-left:10px" id="meal_name" />
                    </div>
                    <div style="margin-top:10px;">
                        Date Eaten: <input placeholder="CLICK ME" id="meal_date" style="text-align:center;margin-left:10px">
                    </div>
                </div>

                <!--Body-->
                <div class="modal-body">
                    <div class="text-center">
                        <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
                        <p id="mealInfoSection"></p>
                    </div>
                </div>

                <!--Footer-->
                <div class="modal-footer justify-content-center">
                    <button id="modalAddBtn" class="btn btn-primary">Add</button>
                    <button id="modalCancelBtn" class="btn btn-danger">Cancel</button>
                </div>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!-- Central Modal Medium Info-->

</body>
</html>

<script src="jquery.min.js"></script>
<script src="~/Scripts/NutryScripts.js"></script>

<!--    FILL TABLE WITH FOODS FROM DB   -->
<script>
        $.ajax({
            url: "@Url.Action("GetAllFoods","Food")",
            type: "POST",
            error: function (response) {
                alert('controller response failed!');
            },
            success: function (response) {
                var allFoods = JSON.parse(response);
                $.each(allFoods, function(){
                    var foodRow =
                        "<tr><td><input placeholder=\"0\" style=\"width:45px\" type=\"number\" min=\"0\">" +
                        "</td><td>" + this.Name +
                        "</td><td>" + this.Units +
                        "</td><td>" + this.Calories +
                        "</td><td>" + this.Proteins +
                        "</td><td>" + this.Carbs +
                        "</td><td>" + this.Fats +
                        "</td></tr>";
                    $('#createMealTable').append(foodRow);
                });
            }
         });

</script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $( "#meal_date" ).datepicker();
</script>

<script>

    $('#add').click(function () {

        // collect meal information (name, total values)
        var tcals = 0, tpros = 0, tcarbs = 0, tfats = 0;

        $("#createMealTable tr").not('thead tr').each(function () {

            var curr_row = $(this).closest('tr');

            var amount = curr_row.find("input").val();
            //var name = curr_row.find('td:eq(1)').text();
            //var units = curr_row.find('td:eq(2)').text();
            var calories = Number(curr_row.find('td:eq(3)').text());
            var proteins = Number(curr_row.find('td:eq(4)').text());
            var carbs = Number(curr_row.find('td:eq(5)').text());
            var fats = Number(curr_row.find('td:eq(6)').text());

            tcals += amount * calories;
            tpros += amount * proteins;
            tcarbs += amount * carbs;
            tfats += amount * fats;

        });

        // if atleast one row has been chosen by the user
        if (tcals + tpros + tcarbs + tfats != 0) {

            $('#mealInfoSection').html(
                'Total Calories:' + tcals + '<br>' +
                'Total Proteins:' + tpros + '<br>' +
                'Total Carbs:' + tcarbs + '<br>' +
                'Total Fats:' + tfats + '<br>'
            );

            // POST MEAL INFORMATION TO -> CONTROLLER SEND TO -> TABLE
            $('#modalAddBtn').click(function () {

                // get meal name & date
                meal_name = $('#meal_name').val();
                meal_date = $('#meal_date').val();

                // if empty
                if (meal_name == "" || meal_date == "") {
                    alert('Must enter a name for the meal,\nand a date it had been eaten on.')
                }

                // if ok
                else {

                    // START: SENDING MEAL TO CONTROLLER

                    // to json
                    var meal_json_data = {
                        'Name': meal_name,'Date': meal_date,
                        'Calories': tcals,'Proteins': tpros,
                        'Carbs': tcarbs,'Fats': tfats
                    }; 

                    // stringify
                    var str_json = JSON.stringify(meal_json_data);

                    // post
                    $.ajax({
                        url: "@Url.Action("AddNewMeal")",
                        type: "POST",
                        data: { mealData: str_json },
                        // on fail
                        error: function (response) {
                            alert('controller response failed! Could not add new meal.');
                        },
                        // on succ
                        success: function (response) {
                            var meal_exist = response;
                            // if meal is already in DB
                            if (meal_exist == "yes") {
                                alert("ERROR: Meal already exist!");
                            }
                            // if meal added successfuly
                            else {
                                alert("The meal has been added sucessfuly!");
                                //location.reload();
                            }
                        }
                    });
                    // END: SENDING MEAL TO CONTROLLER

                    location.reload();
                    $('#mealInfoModal').modal('hide');
                }

            });

            $('#modalCancelBtn').click(function () {
                //history.back();
                location.reload();
                $('#mealInfoModal').modal('hide');
            });

            $('#mealInfoModal').modal('show');
        }
        else {
            alert('must select atleast one row!');
        }

    });

    $('#clear').click(function () {
        $("#createMealTable tr").not('thead tr').each(function () {
            var curr_row = $(this).closest('tr').find("input").val(0);
        });
    });

</script>