@*     HISTORY INDEX VIEW     *@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">

    <script src="jquery.min.js"></script>
    <script src="~/Scripts/NutryScripts.js"></script>

</head>

<body>

    <div id="accordion">
        <h3>History</h3>
        <div>
            HISTORY <br />
            HISTORY <br />
            HISTORY <br />
            HISTORY <br />
            HISTORY <br />
            HISTORY <br />
            HISTORY <br />
            HISTORY <br />
            HISTORY <br />
        </div>
        <h3>Statistics</h3>
        <div>
            <p>
                STATS <br />
                STATS <br />
                STATS <br />
                STATS <br />

            </p>
        </div>
    </div>

</body>
</html>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $("#accordion").accordion({
        heightStyle: "content"
    });
</script>

