
@{
    ViewBag.Title = "Index";
}

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#firstTab">View Foods</a></li>
        <li><a data-toggle="tab" href="#secondTab">New Food</a></li>
        <li><a data-toggle="tab" href="#thirdTab">View Meals</a></li>
        <li><a data-toggle="tab" href="#fourthTab">New Meal</a></li>
    </ul>

    <div class="tab-content">
        <div id="firstTab" class="tab-pane fade in active">@Html.Action("ViewAllFoods", "Food")</div>
        <div id="secondTab" class="tab-pane fade in">@Html.Action("AddOrEdit", "Food")</div>
        <div id="thirdTab" class="tab-pane fade in">VIEW ALL MEALS</div>
        <div id="fourthTab" class="tab-pane fade in">@Html.Action("Index", "CreateMeal")</div>
    </div>

@section scripts { @Scripts.Render("~/bundles/jqueryval")}